@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional to improve blur: */
.backdrop-blur-sm {
  backdrop-filter: blur(6px);
}

.cloud {
  position: absolute;
  top: 20%;
  width: 200px;
  height: 60px;
  background: white;
  border-radius: 50px;
  opacity: 0.2;
  animation: float 60s linear infinite;
}

.cloud1 {
  left: -200px;
}

.cloud2 {
  top: 40%;
  left: -300px;
  animation-duration: 90s;
}

@keyframes float {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200vw);
  }
}